/* FUNCTIONS AND ROOT */
:root {
  --main-bg-color: rgb(255, 255, 255);
  --main-color: rgb(0, 0, 0);
  --main-color-off: rgb(128, 128, 128);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
/* NAVBAR */
.navbar {
  white-space: nowrap;
  width: 100%;
  height: auto;
  font-size: 2em;
  background-color: var(--main-color);
  min-width: 500px;
  display: flex;
  justify-content: space-around;
  padding: 0.3em;
}
.navbar li {
  position: relative;
  display: inline-block;
  list-style: none;
  text-align: justify;
}
.navbar li a {
  color: var(--main-bg-color);
  text-decoration: none;
  text-align: center;
}
.navbar li a:hover {
  color: var(--main-bg-color);
}
.navbar li a:active {
  color: gray;
}

/* NAV HOVER AND CURRENT PAGE*/
.link a:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: var(--main-bg-color);
  height: 0.12em;
  width: 0;
  transform: translateX(-50%);
  transition: all 0.2s linear;
}
.link a:hover:before {
  width: 100%;
}
.current a:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: var(--main-bg-color);
  height: 0.12em;
  width: 100%;
  transform: translateX(-50%);
  transition: all 0.2s linear;
}
/* logo */
.logo {
  filter: invert(100%);
  width: 1em;
  max-height: 5px;
  background-color: var(--main-bg-color);
}
/* BANNER */
.banner-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* MAIN */
.main {
  width: 50%;
  margin: auto;
}
.content {
  text-align: center;
}

/* FAQ LIST */
.faq-h1 {
  text-align: center;
  padding: 10px 0;
}
.faq {
  width: 100%;
  text-align: left;
  padding-top: 10px;
  font-size: 1.5em;
}

.faq-answer {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
}
.faq-address {
  font-style: italic;
}

/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-color);
  text-align: center;
  color: var(--main-bg-color);
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer ul li {
  list-style: none;
  color: var(--main-bg-color);
}
.footer a {
  color: var(--main-bg-color);
  text-decoration: none;
}
.footer a:visited {
  color: var(--main-bg-color);
  text-decoration: none;
}
.footer a:active {
  color: red;
  text-decoration: none;
}
