/* FUNCTIONS AND ROOT */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;

}

body {
  
  height: 100%;
  line-height: 1.5;
  color: #424242;
}

/* PARAGRAPHS,LISTS AND HEADINGS*/

p {
  margin-bottom: 30px;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 15px;
}

h2,
h3 {
  font-size: 26px;
}

.main ul {
  padding-left: 30px;
}
/*figures and images*/

.main figure {

  margin:15px 0 15px 0;
}
figcaption {

  font-size:88%;
  color:darkgray;

}

/* NAVBAR */
.navbar {
  white-space: nowrap;
  width: 100%;
  height: auto;
  font-size: 2em;
  background-color: #000;
  min-width: 500px;
  padding: 0.3em;
  text-align: center;
}
.navbar li {
  position: relative;
  display: inline-block;
  list-style: none;
  text-align: justify;
  margin-left: 1em;
}
.navbar li a {
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.navbar li a:hover {
  color: #fff;
}
.navbar li a:active {
  color: gray;
}
/* SLIDER */
.slider{
  text-align: center;
}
/* flexbox support */
@supports (display: flex) {
  .navbar {
    display: flex;
    justify-content: space-around;
  }
  .footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
}
/* NAV HOVER AND CURRENT PAGE*/
.link a:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #fff;
  height: 0.12em;
  width: 0;
  transform: translateX(-50%);
  transition: all 0.2s linear;
}
.link a:hover:before {
  width: 100%;
}
.current a:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #fff;
  height: 0.12em;
  width: 100%;
  transform: translateX(-50%);
  transition: all 0.2s linear;
}
/* logo */
.logo {
  filter: invert(100%);
  width: 1em;
  background-color: #fff;
}
/* BANNER */
.banner-img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN */
/*.main {
  
  padding:20px;
  width: 100%;
  margin: auto;
  background-color: #fff;
  padding-bottom: 220px;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
}*/




.main h1{
  text-align: left;
  text-decoration: none;
  font-size: 2em;


}
.content {
  text-align: center;
}
/* Product */
* Product Main */ .main h1,
.main p {
  text-align: center;
  padding: 0.4em 0;
}
/* Product tables */
.main table {
  border-collapse: collapse;
  width: 100%;
}
.main tr:nth-child(even) {
  background-color: #dddddd;
}
.main td,
.main th {
  border: 1px solid black;
  padding: 5px;
}
/* PRODUCT image */
.product-image {
  display: block;

  width: 400px;
  font-size: 0.7em;
}
/* ABOUT image */
.about-image {
  max-width: 300px;
}
/* FAQ LIST */
.faq-h2 {
  text-align: left;
  padding: 10px 0;
  text-decoration: underline;
  font-size: 3em;
}
#faq-h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 3.5em;
}
.faq {
  text-align: left;
  padding-top: 10px;
  padding-left: 30px;

  list-style-type: square;
  font-weight: 800;
}

.faq-answer {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: circle;
  font-weight: 800;
}

.faq-address {
  font-style: italic;
}
/*FAQ Background Image */
.faq-bg-img{
  background: url(/ditt-selskap30/image/faq-bg-josh-spires-unsplash-min.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* FAQ background credit */
.faq-credit{
  position: absolute;
  padding-top: 5em;
  padding-left: 2em;
}

/* FOOTER */
.footer {
  
  
  width: 100%;
  background-color: #000;
  color: rgb(255, 255, 255);
  padding: 20px;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}
.footer .logo {
  width: 50px;
  margin: 0 10px 0 0;
}

.footer .footer-links {
  display:flex;
  
}

.footer .material-icons {

  font-size:34px;
}

.footer ul li {
  list-style: none;

    margin-right:20px;
  padding:0;
  color: rgb(255, 255, 255);
  text-align: center;

}
.footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.footer a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.footer .copyright {
  display: inline;
  text-align: center;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 1000px) {
  .main {
    width: 100%;
  }
  .faq-bg-img {
    background: none;
  }
  .banner-img {
    width: 100%;
  }
  .navbar {
    white-space: nowrap;
    width: 100%;
    height: auto;
    font-size: 1em;
    background-color: #000;
    min-width: 200px;
    display: flex;
    justify-content: space-around;
    padding: 0.3em;
  }
}
/* Slider */

.slideshow {
  top: 0;
  position: relative;
}
.slideshow img {
  z-index: -1;
  max-width: 100vw;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position:top right;
}

.slides {
  display: none;
}


/*RESPONSIVE NAVIGATION*/

/* hide menu icon on screens above 1024px */

@media screen and (min-width: 1024px) {
  nav ul.navbar li:last-child {
    
    display: none;
  }
}
/*display menu icon on screens below 1024px*/

@media screen and (max-width: 1024px) {
  nav ul.navbar li:not(:last-child) {
    
    display: none;
  }

  
  
  .navbar {
    justify-content:flex-end;
  }
}
 
/*styling for menu items on screens below 1024px*/

@media screen and (max-width: 1024px) {
   nav ul.navbar.responsive {
    
    position: relative;
    display:block;
    
   
  
  }

  .link a:hover:before, .current a:before {
    width: 0;
  }

  

  nav ul.navbar li:last-child {

    position:absolute;
    top:3px;
    right:3px;


  }

  
  
  nav ul.navbar.responsive li {
    float:none;
    display: block;
    text-align: left;
    
  }
}

/* MAP for Geolocation*/

#map {

width:100%;
height: 400px;
overflow-x: none;

}

/* layout flex-container */

.flex-container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  
}

.sidebar {
  width: 25.3333%;
  background-color: rgba(204, 223, 245, 0.23);
  text-align: left;
  position: relative;
  max-width: 300px;
  padding-top:40px;
  font-size: large;
}

.sidebar ul li {
  
  padding: 10px 10px 10px 20px;
  text-transform: uppercase;

}

.sidebar a:visited, .sidebar a {
  
  color:#032b4e;
  text-decoration: none;
}

.sidebar ul li:hover {
  
  background-color: rgba(204, 223, 245, 0.33);
  cursor:pointer;
  

}

.sidebar ul {
  
  margin:0;
  padding:0;

}

.main-content {
  max-width: 940px;
  padding: 40px;
  flex: 1 ;
  margin: 0px auto;
}

@media only screen and (max-width: 768px) {
 
  .sidebar {

    display:none;
  }
  
   
  }

  /* Why us section index*/

  .hero-section {
    height: 500px;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-image: url("https://images.unsplash.com/photo-1496171367470-9ed9a91ea931?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  }

  .hero-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    flex-wrap:wrap;
    padding:40px;
    font-family:"open sans";
  
  }
  .hero-overlay h1 {
    
    font-family:"open sans";
    font-size:xxx-large;
    font-weight:bold; 

  }
   .hero-overlay p {
     max-width:900px;
     color:white;  
     text-align:center; 
     font-size:20px; 
   }

  .cta-button {
     padding:15px 20px;
     border-radius:5px;
     border:none;
     width:200px;
     font-size:large;
     color:white;
     background-color:#0F9D58;
     transition: transform ease-in-out 250ms;

  }

  .cta-button:hover {
     
    cursor:pointer;
    transform: scale(1.1);


 }

