/* FUNCTIONS AND ROOT */
:root {
  --main-bg-color: rgb(255, 255, 255);
  --main-color: rgb(0, 0, 0);
  --main-color-off: rgb(128, 128, 128);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  
}
body {
  overflow-x: hidden;
  height: 100%;
}
/* NAVBAR */
.navbar {
  white-space: nowrap;
  width: 100%;
  height: auto;
  font-size: 2em;
  background-color: var(--main-color);
  min-width: 500px;
  display: flex;
  justify-content: space-around;
  padding: 0.3em;
}
.navbar li {
  position: relative;
  display: inline-block;
  list-style: none;
  text-align: justify;
}
.navbar li a {
  color: var(--main-bg-color);
  text-decoration: none;
  text-align: center;
}
.navbar li a:hover {
  color: var(--main-bg-color);
}
.navbar li a:active {
  color: gray;
}

/* NAV HOVER AND CURRENT PAGE*/
.link a:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: var(--main-bg-color);
  height: 0.12em;
  width: 0;
  transform: translateX(-50%);
  transition: all 0.2s linear;
}
.link a:hover:before {
  width: 100%;
}
.current a:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: var(--main-bg-color);
  height: 0.12em;
  width: 100%;
  transform: translateX(-50%);
  transition: all 0.2s linear;
}
/* logo */
.logo {
  filter: invert(100%);
  width: 1em;
  background-color: var(--main-bg-color);
}
/* BANNER */
.banner-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* MAIN */
.main {
  width: 50%;
  margin: auto;
}
.content {
  text-align: center;
}
/* FAQ MAIN */
.main-faq{
  width: 60%;
  margin: auto;
  background-color: var(--main-bg-color);
  padding-bottom: 200px;
}
/* FAQ LIST */
.faq-h1 {
  text-align: center;
  padding: 10px 0;
  text-decoration: underline;
  font-size: 3.5em;
}
.faq {
  width: 100%;
  text-align: left;
  padding-top: 10px;
  padding-left: 30px;
  font-size: 1.5em;
  list-style-type: square;
  font-weight: 800;
}

.faq-answer {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: circle;
  font-weight: 800;
}
.faq-address {
  font-style: italic;
}
/*FAQ Background Image */
.faq-bg-img{
  background: url(/image/faq-bg-josh-spires-unsplash.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* FAQ background credit */
.faq-credit{
  position: absolute;
  padding-top: 5em;
  padding-left: 2em;
}
/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-color);
  color: var(--main-bg-color);
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer .logo { 
  width:50px;
  margin: 0 10px 0 0;
}

.footer ul li {
  list-style: none;
  color: var(--main-bg-color);
}
.footer a {
  color: var(--main-bg-color);
  text-decoration: none;
}
.footer a:visited {
  color: var(--main-bg-color);
  text-decoration: none;
}
.footer a:active {
  color: red;
  text-decoration: none;
}

.footer .copyright {
  display:inline;
  text-align:center;
  font-size:14px;

}
